main{
    min-height: 80vh;
}

.header{
    background: #F8F8FB;
}
.main-title{
    color: #2D2D2D;
}
.home-main-img-slider-section .splide__pagination{
    position: relative;
    bottom: 0;
    background: #F6F6F6;
    padding-top: 2px;
    padding-bottom: 6px;
}
.home-main-img-slider-section .splide__pagination__page{
    width: 20px;
    border-radius: 2px;
    height: 5px;
}
.home-main-img-slider-section .splide__pagination__page.is-active{
background-color: #F78D1E;
transform: scale(1.1);
}
.home-products-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap:10px;
    row-gap: 20px;

}

.top-main-nav li .nav-link, .mobile-navbar li .nav-link{
    color: #2D2D2D !important;
    font-weight: 500 !important;
}
@media (min-width:280px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr;
        column-gap:10px;
        row-gap: 20px;        
    } 
}
@media (min-width:992px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    } 
}
@media (max-width:1200px){
    .home-products-grid-item:last-child{
        display: none;
    }
}

@media (min-width:1200px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    } 
}
.home-products-grid-item__img-wrapper{
    aspect-ratio: 1;
    border-radius: 8px;
background: #F6F6F6;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
}
.home-products-grid-item__img-wrapper img{
    aspect-ratio: 1;
    object-fit: contain;
}
.home-products-grid .btn-outline-warning {
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    color: #F78D1E !important;
    background-color: #fff !important;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.accreditations-slider .splide__slide{
    margin: auto;
}
.accreditations-slider .splide__slide img{
    max-height: 120px;
    width: auto;
    object-fit: contain;
}

.footer{
    background: #F6F6F6;
}

.footer .footer-links_title{
    color: #000 !important;
}

.footer .footer-links_link{
    color: #000 !important;
    font-size: 10px;
}
@media (min-width:440px) {
    .footer .footer-links_link{
        color: #000 !important;
        font-size: 14px;
    }
}
.footer-links_link span{
    margin-right: 3px;
}
.footer-links_link svg{
    width: 14px;
    height: 14px;
}
@media (min-width: 300px) and (max-width:380px) {
    .footer-links_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

.home-multicolumn-section{
    background: #F6F6F6;
}

@media (max-width:992px) {
    .fs-6{
        font-size: 14px !important;
    }
}