main{
    min-height: 80vh;
}

.header{
    background: #F8F8FB;
}
.main-title{
    color: #2D2D2D;
}
.home-main-img-slider-section .splide__pagination{
    position: relative;
    bottom: 0;
    background: #F6F6F6;
    padding-top: 2px;
    padding-bottom: 6px;
}
.home-main-img-slider-section .splide__pagination__page{
    width: 20px;
    border-radius: 2px;
    height: 5px;
}
.home-main-img-slider-section .splide__pagination__page.is-active{
background-color: #F78D1E;
transform: scale(1.1);
}
.home-products-grid{
    display: grid;
    grid-template-columns: 1fr;
    column-gap:10px;
    row-gap: 20px;

}

.top-main-nav li .nav-link, .mobile-navbar li .nav-link{
    color: #2D2D2D !important;
    font-weight: 500 !important;
}
@media (min-width:280px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr;
        column-gap:10px;
        row-gap: 20px;        
    } 
}
@media (min-width:992px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 20px;
    } 
}
@media (max-width:1200px){
    .home-products-grid-item:last-child{
        display: none;
    }
}

@media (min-width:1200px) {
    .home-products-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 20px;
    } 
}
.home-products-grid-item__img-wrapper{
    aspect-ratio: 1;
    border-radius: 8px;
background: #fff;
padding: 15px;
display: flex;
justify-content: center;
align-items: center;
}
.home-products-grid-item__img-wrapper img{
    aspect-ratio: 1;
    object-fit: contain;
}
.home-products-grid .btn-outline-warning {
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    color: #F78D1E;
    background-color: #fff;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 8px;
}

.home-products-grid .btn-outline-warning:hover {
    border-radius: 4px;
    border: 1px solid #CFCFCF;
    color: #fff;
    background-color: #F78D1E;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transform: scale(1.10);
}
.home-products-grid .btn-outline-warning:hover svg{
    fill: #fff;
}
.accreditations-slider .splide__slide{
    margin: auto;
}
.accreditations-slider .splide__slide img{
    max-height: 120px;
    width: auto;
    object-fit: contain;
}

.footer{
    background: #F6F6F6;
}

.footer .footer-links_title{
    color: #000 !important;
}

.footer .footer-links_link{
    color: #000 !important;
    font-size: 10px;
}
@media (min-width:440px) {
    .footer .footer-links_link{
        color: #000 !important;
        font-size: 14px;
    }
}
.footer .footer-links_link{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.footer-links_link span{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.footer-links_link svg{
    width: 14px;
    height: 14px;
}
@media (min-width: 300px) and (max-width:380px) {
    .footer-links_wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

.home-multicolumn-section{
    background: #fff;
}

@media (max-width:992px) {
    .fs-6{
        font-size: 14px !important;
    }
}

.ready-stock-btn{
    text-transform: uppercase;
}

.lds-hourglass {
    color: #f78d1e;
  }

.lds-hourglass,
.lds-hourglass:after {
  box-sizing: border-box;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid currentColor;
  border-color: currentColor transparent currentColor transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.custom-btn {
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

/* 15 */
.ready-stock-btn {
    background: #f78d1e !important;
    color: #fff !important;
    border: none;
    z-index: 1;
}
.ready-stock-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #f78d1e !important;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
    transition: all 0.3s ease !important;
  }
  .ready-stock-btn:hover {
    color: #fff;
  }
  .ready-stock-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .ready-stock-btn:active {
    top: 2px;
  }
  





.new-arrivals-btn {
    background: #fff !important;
    border: none;
    z-index: 1;
  }
.new-arrivals-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff !important;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
    transition: all 0.3s ease !important;
  }
  .new-arrivals-btn:hover {
    color: #000;
  }
  .new-arrivals-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .new-arrivals-btn:active {
    top: 2px;
  }




.rk-custom-btn {
    background: #fff !important;
    border: none;
    z-index: 1;
    border-radius: 4.487px;
    border: 1.122px solid #F78D1E;
    background: #FFF;
  }
.rk-custom-btn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: #fff !important;
    border-radius: 5px;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1) !important;
    transition: all 0.3s ease !important;
  }
  .rk-custom-btn:hover {
    color: #000;
    border: 1.122px solid #F78D1E;

  }
  .rk-custom-btn:hover:after {
    left: 0;
    width: 100%;
  }
  .rk-custom-btn:active {
    top: 2px;
  }











  
  .view-all-btn{
    width: 120px !important;
    border-radius: 4px;
    background: #F78D1E;
    color: #FFF;


  }

  .view-all-btn:hover{
    border-radius: 4px;
    color: #F78D1E;
    background: #2D2D2D;
    transform: scale(1.05);
  }

  @media (min-width:992px) {
    .view-all-btn{
      position: absolute;
      right: 10px;
      top: 0;
    }
  }


  input.qtyminus{
    border-radius: 6.577px 0px 0px 6.577px !important;
background:  #E5E9EB !important;
  }

  input.qtyplus{
    border-radius: 0px 6.577px 6.577px 0px !important;
background: #E5E9EB !important;
  }

  .quantity-input-group {
    border: none !important;
    background: #F6F8F9;
  }